## ETL (proceso de transformacion)

In [12]:
#importamos los modulos y librerias

import pandas as pd
import numpy as np
from ast import literal_eval
import ast

In [4]:
#carga de los datasets

movies = pd.read_csv('/content/drive/MyDrive/Kaarla,/Dataset/movies_dataset.csv')
creditos = pd.read_csv('/content/drive/MyDrive/Kaarla,/Dataset/credits.csv')

<ipython-input-4-b7b06037435b>:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('/content/drive/MyDrive/Kaarla,/Dataset/movies_dataset.csv')

In [5]:
pd.options.display.max_columns=0 #vista previa
movies.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [6]:

creditos.head(2) #vista previa

                                                cast  ...    id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...   862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  8844

[2 rows x 3 columns]

In [7]:
# generamos copia de los archivos

creditos1=creditos.copy()
movie=movies.copy()

In [9]:
# verificamos los duplicados en creditos1

creditos1.duplicated().value_counts()

False    45439
True        37
dtype: int64

In [10]:
#eliminacion de duplicados
creditos1=creditos1.drop_duplicates()

In [11]:
creditos1=creditos1.reset_index(drop=True)  #reindexamos el dataframe

In [13]:
# conversion de str a lista de diccionarios por fila : cast and crew

creditos1['cast']= creditos1.cast.apply(literal_eval)
creditos1['crew']=creditos1.crew.apply(literal_eval)

In [14]:
creditos1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45439 entries, 0 to 45438
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45439 non-null  object
 1   crew    45439 non-null  object
 2   id      45439 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [ ]:
# adult =adulto
# belongs_to_collection	= pertenece a la coleccion
# budget =presupuesto
# genres = generos
# homepage =pagina principal
# id =identificacion
# imbd id = identificacion imbd
# original_language = idioma original
# original_title =titulo original
# overwiev =descripcion original
# popularity =popularidad
# poster_path = link del cartel o direccion
# production_companies = compañias de produccion
# production_countries =paises de produccion
# fecha de lanzamiento =

In [15]:
# veificamos si hay duplicados en movie

movie.duplicated().value_counts()

False    45453
True        13
dtype: int64

In [ ]:
movie[movie.duplicated(keep=False)].head(3)# se muestra las filas o instancias duplicadas

In [18]:
movie=movie.drop_duplicates() #eliminamos los duplicados : al considerarlos en nuestro analisis no posibilita definir algunos parametros

In [20]:
movie=movie.reset_index(drop=True) # hacemos la reindexacion

In [21]:
movie.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [22]:
movie.isna().sum()

adult                        0
belongs_to_collection    40959
budget                       0
genres                       0
homepage                 37673
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25045
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

##transformacion de los campos anidados en el dataframe movie

In [23]:
#columnas anidadas de diccionarios : belong_collection

In [24]:

def conversion_columnas_dict(columna):
    listObj=[]
    for i in range(len(columna)):
        if type(columna[i])== str:
             listObj.append(ast.literal_eval(columna[i]))
        else:
           listObj.append(ast.literal_eval("{'id': 0, 'name': 'no_definido', 'poster_path': 'no_definido', 'backdrop_path': 'no_definido'}"))
    serie = pd.Series(listObj)
    return serie

In [25]:
# iterar solo una vez
movie['belongs_to_collection']=conversion_columnas_dict(movie['belongs_to_collection']) #cada elemento del a columna belong es un diccionario

In [33]:
# columnas anidadas lista de diccionarios : gnere ,production_companies,production_countries,spoken_languages

import ast
import numpy as np

def conversion_columnas_list(columna):
    c=columna
    listObj=[]
    for i in range(len(columna)):
        if type(columna[i])== str:
           if columna[i]=='[]':
              listObj.append("[{'name': 'sin_dat', 'id': 0}]")
           elif columna[i]=='False':
                listObj.append("[{'name': 'sin_dat', 'id': 0}]")
           elif columna[i][1]=='.':
                listObj.append("[{'name': 'sin_dat', 'id': 0}]")
           else:
             listObj.append(columna[i])
        else:
           listObj.append("[{'name': 'sin_dat', 'id': 0}]")
    serie = pd.Series(listObj)
    return serie

In [34]:
# datos vacios completados con la estrctura "[{'name': 'sin_dat', 'id': 0}]"
movie['genres']=conversion_columnas_list(movie['genres'])
movie['production_companies']=conversion_columnas_list(movie['production_companies'])
movie['production_countries']=conversion_columnas_list(movie['production_countries'])
movie['spoken_languages']=conversion_columnas_list(movie['spoken_languages'])

In [35]:
# conversion de srt a listta de diiccionarios por fila
movie['genres']= movie.genres.apply(literal_eval)
movie['production_companies']= movie.production_companies.apply(literal_eval)
movie['production_countries']= movie.production_countries.apply(literal_eval)
movie['spoken_languages']= movie.spoken_languages.apply(literal_eval)

In [36]:
movie = movie.drop(labels=[19725,29491,35575],axis=0)  # se eliminan las filas  ['1', '12', '22' ]  ,  datos incompletos e imprecisos

In [37]:
## conversion de tipo str a float  :   budget ,id,popularity ,revenue,runtime,vote_average,vote_count
movie['budget'] = movie['budget'].astype(float)
movie['id'] = movie['id'].astype(int)
movie['popularity'] = movie['popularity'].astype(float)
movie['revenue'] = movie['revenue'].astype(float)
movie['runtime'] = movie['runtime'].astype(float)
movie['vote_average'] = movie['vote_average'].astype(float)
movie['vote_count'] = movie['vote_count'].astype(float)

In [38]:
movie=movie.reset_index(drop=True) #reindexamos reordenamos los indices

## valores nulos de los campos revenue y budget rellenados con 0

In [40]:

# reemplazamos los nan a cero en la columna revenue (ganacia)y budget(persopue) para un posterior calculo

movie['revenue'] = movie['revenue'].fillna(0)
movie['budget'] = movie['budget'].fillna(0)

In [41]:
# eliminamos los nulos de la columna relaese_date al realizar el analisi estadistico de las variables numericas estas no presentan una variacion significativa en sus parametros
# por tanto no influye en el analisis

movie=movie[movie.release_date.notnull()]

In [42]:
movie=movie.reset_index(drop=True) #reindexamos

## conversion de la columna release_date a formato fecha

In [43]:
# convertimos la columna release_date a fecha

movie['release_date'] = pd.to_datetime(movie['release_date'], format='%Y-%m-%d')

In [45]:
# definimos una columna year a partir de la extraccion de año de release_date

movie['release_year'] = movie['release_date'].dt.year

## crear la columna con el retorno de inversion : revenue/budget = return

In [46]:
# definimos la columna return
def divisionentrecolumnas(columna1,columna2):
  h=[]
  for i in range(len(columna1)):
      if columna1[i]!= 0 :
        if  columna2[i]!= 0:
            h.append(columna1[i]/columna2[i])
        else:
           h.append(0)
      else :
            h.append(0)
  serie = pd.Series(h)
  return serie

In [47]:

#generamos la variable return

movie['return'] =divisionentrecolumnas(movie['revenue'], movie['budget'])

# eliminamos las columnas : video, imdb_id, adult,
# original_title , poster_path,homepage

In [49]:
# eliminamos las columnas que no sean relevantes para nuestro estudio ,eliminamos las columnas que no seran utilizdas

movie=movie.drop(columns=['video', 'imdb_id','adult','original_title','poster_path','homepage'])

 ## El merge de los dataframes transformados

In [50]:
df=pd.merge(movie,creditos1, on='id')

In [51]:
df.head(5)

   belong_collection.id  ...                                               crew
0               10194.0  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1                   0.0  ...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2              119050.0  ...  [{'credit_id': '52fe466a9251416c75077a89', 'de...
3                   0.0  ...  [{'credit_id': '52fe44779251416c91011acb', 'de...
4               96871.0  ...  [{'credit_id': '52fe44959251416c75039ed7', 'de...

[5 rows x 23 columns]

In [52]:
df.shape

(45375, 23)

In [57]:
df.isna().sum()

belong_collection.id          0
belong_collection.name        0
budget                        0
genres                        0
id                            0
original_language            11
overview                    941
popularity                    0
production_companies          0
production_countries          0
release_date                  0
revenue                       0
runtime                     246
spoken_languages              0
status                       80
tagline                   24977
title                         0
vote_average                  0
vote_count                    0
release_year                  0
return                        0
cast                          0
crew                          0
dtype: int64

In [62]:
#guardamos el data frame en un csv con nombre movies_consulta

df.to_csv('movies_consulta.csv', encoding='utf-8', index=False)